{% extends 'z_partials/layout.html' %} {% load static %} {% block content %}

<!-- ---------------------------------- All Services Page ------------------------------------->
<div class="all_services_container">
  {% include "z_partials/auth_container.html" %}

  <div class="services_top">
    <h1>Explore our services From James Gunner</h1>
  </div>

  <!-- ----------------------------------  Portfolio Section of User------------------------------------->
  <div class="more_services">
    <div class="more_services_service">
      <div class="service_images">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>

      <a href="">
        <div class="service_owner">
          <div class="service_owner_image">
            <img src="{% static 'images/logo.png' %}" alt="" />
          </div>
          <h4>James Gunner</h4>
        </div>
      </a>

      <a href="{% url 'public:service' %}">
        <div class="service_desc">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
            amet, ut atque blanditiis facere?
          </p>
        </div>
      </a>

      <div class="service_price">
        <p>From GH&#8373; <span>90</span></p>
      </div>
    </div>

    <div class="service">
      <div class="service_images">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>
      <div class="service_owner">
        <div class="service_owner_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
        <h4>James Gunner</h4>
      </div>

      <div class="service_desc">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
          amet, ut atque blanditiis facere?
        </p>
      </div>

      <div class="service_price">
        <p>From GH&#8373; <span>90</span></p>
      </div>
    </div>

    <div class="service">
      <div class="service_images">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>
      <div class="service_owner">
        <div class="service_owner_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
        <h4>James Gunner</h4>
      </div>

      <div class="service_desc">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
          amet, ut atque blanditiis facere?
        </p>
      </div>

      <div class="service_price">
        <p>From GH&#8373; <span>90</span></p>
      </div>
    </div>

    <div class="service">
      <div class="service_images">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>
      <div class="service_owner">
        <div class="service_owner_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
        <h4>James Gunner</h4>
      </div>

      <div class="service_desc">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
          amet, ut atque blanditiis facere?
        </p>
      </div>

      <div class="service_price">
        <p>From GH&#8373; <span>90</span></p>
      </div>
    </div>

    <div class="service">
      <div class="service_images">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>
      <div class="service_owner">
        <div class="service_owner_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
        <h4>James Gunner</h4>
      </div>

      <div class="service_desc">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
          amet, ut atque blanditiis facere?
        </p>
      </div>

      <div class="service_price">
        <p>From GH&#8373; <span>90</span></p>
      </div>
    </div>

    <div class="service">
      <div class="service_images">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>
      <div class="service_owner">
        <div class="service_owner_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
        <h4>James Gunner</h4>
      </div>

      <div class="service_desc">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
          amet, ut atque blanditiis facere?
        </p>
      </div>

      <div class="service_price">
        <p>From GH&#8373; <span>90</span></p>
      </div>
    </div>

    <div class="service">
      <div class="service_images">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>
      <div class="service_owner">
        <div class="service_owner_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
        <h4>James Gunner</h4>
      </div>

      <div class="service_desc">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
          amet, ut atque blanditiis facere?
        </p>
      </div>

      <div class="service_price">
        <p>From GH&#8373; <span>90</span></p>
      </div>
    </div>

    <div class="service">
      <div class="service_images">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>
      <div class="service_owner">
        <div class="service_owner_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
        <h4>James Gunner</h4>
      </div>

      <div class="service_desc">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
          amet, ut atque blanditiis facere?
        </p>
      </div>

      <div class="service_price">
        <p>From GH&#8373; <span>90</span></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
