{% extends 'z_partials/layout.html' %} {% load static %} {% block content %}

<div class="service_details_container">
  <div class="service_details">
    <div class="service_details_title">
      <h1>I am a professional painter</h1>
    </div>

    <a href="">
      <div class="service_owner">
        <div class="service_owner_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
        <h4>James Gunner</h4>
      </div>
    </a>

    <div class="service_details_about">
      <center>
        <div class="service_details_images">
          <img src="{% static 'images/logo.png'%}" alt="" />
        </div>
      </center>

      <div class="service_details_text">
        <h4>About this service</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          tenetur nulla libero temporibus provident vel? Fugiat, laborum? Sint
          aperiam, harum consectetur asperiores, blanditiis dolor enim nulla
          voluptatem molestiae suscipit debitis nemo. Maxime doloribus
          voluptatum a autem, nihil suscipit at, voluptatem quos fugiat aliquam
          minima, provident nesciunt labore minus neque. Eius unde incidunt,
          omnis praesentium tenetur iusto quam expedita eligendi quos
          voluptatibus earum quibusdam ipsum accusamus numquam eaque itaque.
          Nisi doloribus cum placeat quidem saepe aperiam, ab expedita sequi,
          magni eius corporis! Exercitationem in dolorem modi eligendi ipsam
          amet enim quidem architecto similique adipisci, voluptatum unde,
          culpa, vitae laborum doloremque consectetur. Consectetur, provident
          aperiam odio quidem ratione explicabo accusantium? Illum velit eum
          nobis officiis, laborum nulla quas aliquid nesciunt omnis? Voluptates
          et repudiandae expedita modi nemo aspernatur. Sunt repellendus, esse
          eaque quasi assumenda repudiandae alias magni eveniet non corrupti
          veritatis ratione consequuntur nostrum? Est minima porro dolor enim
          sapiente dolore doloremque provident, maxime corporis architecto,
          nostrum placeat consequatur ipsa perspiciatis quos delectus ad? Culpa
          esse voluptas iste natus reprehenderit dolor minus, sed optio eius
          excepturi vero saepe qui aspernatur quia voluptate ea quae temporibus
          eligendi consectetur pariatur inventore iusto ut ullam! Perferendis
          earum corrupti rerum cum eveniet excepturi ad assumenda perspiciatis.
        </p>
      </div>
    </div>

    <div class="service_owner_skillset">
      <div class="skillset">
        <h4>Programming Languages</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          aliquam quae adipisci nemo cupiditate aperiam.
        </p>
      </div>

      <div class="skillset">
        <h4>Programming Languages</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          aliquam quae adipisci nemo cupiditate aperiam.
        </p>
      </div>

      <div class="skillset">
        <h4>Programming Languages</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          aliquam quae adipisci nemo cupiditate aperiam.
        </p>
      </div>

      <div class="skillset">
        <h4>Programming Languages</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          aliquam quae adipisci nemo cupiditate aperiam.
        </p>
      </div>

      <div class="skillset">
        <h4>Programming Languages</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
          aliquam quae adipisci nemo cupiditate aperiam.
        </p>
      </div>
    </div>

    <div class="contact_service_owner">
      <div class="contact_service_owner_title">
        <h4>Get to know James Gunner</h4>
      </div>

      <div class="service_owner_details">
        <div class="service_owner_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>

        <!--  TODO: to lead to general business page  -->
        <div class="service_owner_name">
          <a href="">
            <h4>James Gunner</h4>
          </a>

          <div class="service_owner_about">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
              amet, ut atque blanditiis facere?
            </p>
          </div>
        </div>
      </div>

      <!--  TODO: to lead to profile details -->
      <div class="contact_service_owner_btn">
        <a href="">Contact Owner</a>
      </div>
    </div>
  </div>

  <div class="more_about_service">
    <div class="bio">
      <div class="bio_location">
        <h4>Location:</h4>
        <p>Accra, Ghana</p>
      </div>

      <div class="bio_date_joined">
        <h4>Member Since:</h4>
        <p>2022</p>
      </div>

      <div class="bio_languages">
        <h4>Languages:</h4>
        <p>English, French</p>
      </div>
    </div>

    <div class="bio_desc">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa amet,
        ut atque blanditiis facere?
      </p>
    </div>
  </div>

  <div class="service_packages">
    <div class="service_packages_title">
      <h4>Service Packages</h4>
    </div>

    <div class="service_packages_list">
      <div class="service_package">
        <div class="service_package_title">
          <h4>Basic</h4>
        </div>

        <div class="service_package_price">
          <p>GH&#8373; <span>90</span></p>
        </div>

        <div class="service_package_desc">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
            amet, ut atque blanditiis facere?
          </p>
        </div>

        <div class="service_package_btn">
          <a href="">Order Now</a>
        </div>
      </div>

      <div class="service_package">
        <div class="service_package_title">
          <h4>Standard</h4>
        </div>

        <div class="service_package_price">
          <p>GH&#8373; <span>90</span></p>
        </div>

        <div class="service_package_desc">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
            amet, ut atque blanditiis facere?
          </p>
        </div>

        <div class="service_package_btn">
          <a href="">Order Now</a>
        </div>
      </div>

      <div class="service_package">
        <div class="service_package_title">
          <h4>Premium</h4>
        </div>

        <div class="service_package_price">
          <p>GH&#8373; <span>90</span></p>
        </div>

        <div class="service_package_desc">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa
            amet, ut atque blanditiis facere?
          </p>
        </div>

        <div class="service_package_btn">
          <a href="">Order Now</a>
        </div>
      </div>
    </div>
  </div>

  <section class="faq_section">
    <div class="faq_title">
      <h3>Frequently Asked Questions</h3>
    </div>

    <div class="faq_container">
      <div class="faq_item">
        <div class="faq_question">
          <h4>What information do you need before starting the project?</h4>
          <span class="faq_icon"><i class="fa-solid fa-plus"></i></span>
        </div>
        <div class="faq_answer">
         <p> 
          I will need your business details, preferred design style, content,
          images, and any specific features you want on the website.
        </p>
        </div>
      </div>

      <div class="faq_item">
        <div class="faq_question">
          <h4>Do you provide website hosting and domain setup?</h4>
          <span class="faq_icon"><i class="fa-solid fa-plus"></i></span>
        </div>
        <div class="faq_answer">
          Yes. I can help you purchase a domain, set up hosting, and deploy your
          website so it is accessible online.
        </div>
      </div>

      <div class="faq_item">
        <div class="faq_question">
         <h4> Will my website be mobile responsive?</h4>
          <span class="faq_icon"><i class="fa-solid fa-plus"></i></span>
        </div>
        <div class="faq_answer">
          Absolutely. All websites are built to work perfectly on mobile,
          tablet, and desktop devices.
        </div>
      </div>
    </div>
  </section>



  <script>
    const faqItems = document.querySelectorAll(".faq_item");

    faqItems.forEach((item) => {
      const question = item.querySelector(".faq_question");

      question.addEventListener("click", () => {
        item.classList.toggle("active");
      });
    });
  </script>
</div>

<!--
<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  body {
    background: #000;
    color: #000;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<div
  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
  class="swiper mySwiper2"
>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="{% static 'images/logo.png' %}" alt="" />
    </div>

    <div class="swiper-slide">
      <img src="{% static 'images/logo.png' %}" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="{% static 'images/logo.png' %}" alt="" />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="{% static 'images/logo.png' %}" alt="" />
    </div>

    <div class="swiper-slide">
      <img src="{% static 'images/logo.png' %}" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="{% static 'images/logo.png' %}" alt="" />
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });

    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });
  });
</script>
-->

{% endblock content %}
