{% extends 'z_partials/layout.html' %} {% load static %} {% block content %}

<!-- ---------------------------------- Hero Background Vid------------------------------------->
<div class="hero_section">
  <video autoplay muted loop class="hero_video">
    <source src="{% static 'images/bg_vid.mp4' %}" type="video/mp4" />
  </video>

  <div class="hero_content">
    <div class="hero_content_title">
      <h1>
        Connect with professionals who get the job done
        <br />
        anytime,<span> anywhere!</span>
      </h1>
    </div>

    <!-- ---------------------------------- Hero Search Section ------------------------------------->
    <div class="hero_search">
      <form action="" method="GET">
        <input type="text" name="" placeholder="Search for a service..." />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>

  <!-- ---------------------------------- Hero Sponsors Section------------------------------------->
  <div class="sponsors">
    <p>Powered by:</p>

    <div class="sponsor_list">
      <div class="sponsor">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>

      <div class="sponsor">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>

      <div class="sponsor">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>

      <div class="sponsor">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- ---------------------------------- Hero Sponsors Section------------------------------------->
<div class="service_cards">
  <a href="">
    <div class="service_card">
      <div class="service_card_icon">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>

      <div class="service_card_title">
        <p>Programming</p>
      </div>
    </div>
  </a>

  <a href="">
    <div class="service_card">
      <div class="service_card_icon">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>

      <div class="service_card_title">
        <p>Programming</p>
      </div>
    </div>
  </a>

  <a href="">
    <div class="service_card">
      <div class="service_card_icon">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>

      <div class="service_card_title">
        <p>Programming</p>
      </div>
    </div>
  </a>

  <a href="">
    <div class="service_card">
      <div class="service_card_icon">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>

      <div class="service_card_title">
        <p>Programming</p>
      </div>
    </div>
  </a>

  <a href="">
    <div class="service_card">
      <div class="service_card_icon">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>

      <div class="service_card_title">
        <p>Programming</p>
      </div>
    </div>
  </a>

  <a href="">
    <div class="service_card">
      <div class="service_card_icon">
        <img src="{% static 'images/logo.png' %}" alt="" />
      </div>

      <div class="service_card_title">
        <p>Programming & Graphic Design</p>
      </div>
    </div>
  </a>
</div>

<!-- ---------------------------------- Popular Services Section------------------------------------->
<div class="popular_services">
  <div class="popular_services_title">
    <h2>Explore services from our partners</h2>
  </div>

  <div class="popular_services_cards">
    <a href="">
      <div class="popular_service_card">
        <div class="popular_service_card_title">
          <h3>Vibe Coders</h3>
        </div>
        <div class="popular_service_card_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
      </div>
    </a>

    <a href="">
      <div class="popular_service_card">
        <div class="popular_service_card_title">
          <h3>Vibe Coders</h3>
        </div>
        <div class="popular_service_card_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
      </div>
    </a>

    <a href="">
      <div class="popular_service_card">
        <div class="popular_service_card_title">
          <h3>Vibe Coders</h3>
        </div>
        <div class="popular_service_card_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
      </div>
    </a>

    <a href="">
      <div class="popular_service_card">
        <div class="popular_service_card_title">
          <h3>Vibe Coders</h3>
        </div>
        <div class="popular_service_card_image">
          <img src="{% static 'images/logo.png' %}" alt="" />
        </div>
      </div>
    </a>
  </div>
</div>

<!-- ---------------------------------- Pro Ad Section------------------------------------->
<div class="pro_ad_section">
  <div class="pro_ad_section_title">
    <h2>
      Join the community <br />
      Live your dream with our professionals
    </h2>
    <a href="">Join Now!</a>
  </div>

  <div class="pro_ad_section_cards">
    <div class="pro_ad_section_card">
      <div class="pro_ad_section_card_icon">
        <i class="fa-brands fa-apple"></i>
      </div>

      <div class="pro_ad_section_card_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet!</p>
      </div>
    </div>

    <div class="pro_ad_section_card">
      <div class="pro_ad_section_card_icon">
        <i class="fa-brands fa-apple"></i>
      </div>

      <div class="pro_ad_section_card_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet!</p>
      </div>
    </div>

    <div class="pro_ad_section_card">
      <div class="pro_ad_section_card_icon">
        <i class="fa-brands fa-apple"></i>
      </div>

      <div class="pro_ad_section_card_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet!</p>
      </div>
    </div>

    <div class="pro_ad_section_card">
      <div class="pro_ad_section_card_icon">
        <i class="fa-brands fa-apple"></i>
      </div>

      <div class="pro_ad_section_card_content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet!</p>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------------------- Banner Section------------------------------------->
<div class="banner_section">
  
</div>
{% endblock %}
