{% extends 'z_partials/layout.html' %} {% load static %} {% block content %}

<!-- ---------------------------------- Dashboard Panel ------------------------------------->
<div class="dashboard">
  {% include 'company_dashboard/dashboard_layout.html' %}

  <div class="dashboard_content">
    <div class="dashboard_table">
      <div class="dashboard_table_title">
        <h2>Our Expertise</h2>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iste
          alias accusamus voluptates beatae est aliquam ducimus similique totam
          quas amet, asperiores harum eum sunt, error fugiat et corporis quis
          provident ab magni. Facilis iste, illo eos aut error debitis in qui
          sequi ut consequuntur impedit laboriosam asperiores eum recusandae.
        </p>
      </div>

      <div class="edit_bio_link">
        <a href="">
          <i class="fa-solid fa-plus"></i>
          Add Expertise
        </a>
      </div>

      <div class="dashboard_table_body">
        <table>
          <thead>
            <tr>
              <th>Expertise Title</th>
              <th>About Expertise</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Web Development</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>
                <a href=""><i class="fa-solid fa-pen"></i></a>
              </td>
              <td>
                <a href=""><i class="fa-regular fa-eye"></i></a>
              </td>
            </tr>

              <tr>
              <td>Web Development</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>
                <a href=""><i class="fa-solid fa-pen"></i></a>
              </td>
              <td>
                <a href=""><i class="fa-regular fa-eye"></i></a>
              </td>
            </tr>

              <tr>
              <td>Web Development</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>
                <a href=""><i class="fa-solid fa-pen"></i></a>
              </td>
              <td>
                <a href=""><i class="fa-regular fa-eye"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
