@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: 0;
  align-items: center;
  text-decoration: none;
  line-height: 1;
  align-items: center;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  scroll-padding-bottom: 2rem;
  overflow-x: hidden;
  color: var(--text_color);

  ::-webkit-scrollbar {
    width: 1.5px;
  }
}

:root {
  --default_bg: #fbfafa;
  --default_bg_deep: #f2f0f0;
  --default_bg_variant: rgba(87, 87, 87, 0.2);
  --default_border: rgba(161, 156, 156, 0.2);
  --text_color_deep: #0d0d0d;
  --text_color: #222121;
  --text_color_variant: rgb(90, 89, 89);
  --color_dark_light:	#f2f2f2;
  --color_gold: #f8c641;
  --color_dark_medium: #e6e6e6;
  --color_danger: #f03333;
  --box_shadow: 0 .5rem .5rem rgba(224, 222, 222, 0.4);
  --box_shadow_dark: .5rem .5rem .5rem rgba(161, 156, 156, 0.2);
  --transition: all 300ms ease;
  --border_radius: 0.3rem;
}

h1 {
  font-size: 1.9rem;
  font-weight: 900;
}

h2 {
  font-size: 1.6rem;
  font-weight: 800;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 600;
}

a {
  font-weight: 600;
  display: inline-block;
}

body {
  background-color: var(--default_bg);
}

span {
  color: var(--color_danger);
}

/* --------------------------------- Nav Section Styles ----------------------------------------------- */
nav {
  background-color: var(--default_bg_variant);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  margin: 0;
  padding: 0.3rem 10rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(20px);
  transition: var(--transition);
  overflow: visible;
  border-bottom: 1px solid var(--default_border);
}

nav:hover {
  box-shadow: var(--box_shadow);
}

.nav_logo a {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

.nav_logo a:hover {
  transition: var(--transition);
  transform: scale(0.9);
}

.nav_logo a img {
  width: 100%;
  height: 100%;
}

.nav_search form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--default_bg);
  padding: 0.3rem 0.5rem;
  width: 25rem;
  border-radius: var(--border_radius);
}

.nav_search form input {
  width: 100%;
  border: none;
  background-color: var(--default_bg);
}

.nav_search form button {
  border: none;
}

.nav_search form button i {
  color: var(--default_bg);
  padding: 0.3rem 0.3rem;
  background-color: var(--text_color);
  border-radius: var(--border_radius);
  margin-right: 0.15rem;
}

.nav_search form button i:hover {
  background-color: var(--color_gold);
  transition: var(--transition);
  color: var(--text_color);
  font-weight: 700;
}

.nav_search:focus-within {
  border: 1px solid var(--text_color);
  box-shadow: 0 0 0.5rem rgba(24, 23, 23, 0.5);
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.nav_menu ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav_menu ul li:hover {
  color: var(--color_danger);
  transform: translateX(0.2rem);
  transition: var(--transition);
}

.join a {
  display: inline-block;
  padding: 0.15rem 1rem;
  border-radius: var(--border_radius);
  border: 0.5px solid var(--text_color);
  font-weight: 900;
  transition: var(--transition);
}

.join a:hover {
  background-color: var(--text_color);
  color: var(--default_bg);
}

.nav_menu_button {
  display: none;
}

/* --------------------------------- Main Section Styles ----------------------------------------------- */
main {
  margin-top: 3rem;
  padding-bottom: 5rem;
}

/* --------------------------------- Main Hero Section Styles ----------------------------------------------- */
.hero_section {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.hero_video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.hero_content {
  position: relative;
  top: 30%;
  padding: 0rem 10rem;
  display: grid;
}

.hero_content_title h1 {
  color: var(--default_bg);
}

.hero_search {
  margin-top: 1.5rem;
}

.hero_search form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--default_bg);
  padding: 0.3rem 0.5rem;
  width: 50vw;
  border-radius: var(--border_radius);
}

.hero_search form input {
  width: 100%;
  border: none;
  background-color: var(--default_bg);
}

.hero_search form button {
  border: none;
}

.hero_search form button i {
  color: var(--default_bg);
  padding: 0.3rem 0.3rem;
  background-color: var(--text_color);
  border-radius: var(--border_radius);
  margin-right: 0.15rem;
}

.hero_search form button i:hover {
  background-color: var(--color_gold);
  transition: var(--transition);
  color: var(--text_color);
  font-weight: 700;
}

.hero_search:focus-within {
  border: 1px solid var(--text_color);
  box-shadow: 0 0 0.8rem rgba(232, 230, 230, 0.2);
  border-radius: var(--border_radius);
  transition: var(--transition);
  width: 50vw;
}

.sponsors {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sponsor {
  width: 2rem;
  height: 2rem;
}

.sponsor img {
  width: 100%;
  height: 100%;
}

.sponsors p {
  color: var(--default_bg);
}
.sponsor_list {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

/* --------------------------------- Service Cards Section Styles ----------------------------------------------- */
.service_cards {
  padding: 2rem 10rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.service_card {
  border: 1px solid var(--default_border);
  border-radius: var(--border_radius);
  padding: 0.5rem;
  transition: var(--transition);
  height: 6rem;
  display: grid;
  gap: 0.5rem;
}

.service_cards a {
  transition: var(--transition);
  box-shadow: var(--box_shadow_dark);
  background-color: var(--color_dark_light);
}
.service_cards a:hover {
  box-shadow: var(--box_shadow);
  transform: scale(0.98);
  background-color: var(--color_dark_medium);
}

.service_card_icon {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

.service_card_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------------  Services Flyer Styles ----------------------------------------------- */
.services_flyer center {
  margin: 1rem 10rem;
  background-color: var(--color_dark_medium);
  color: var(--default_bg);
  padding: 3rem;
  border-radius: var(--border_radius);
  display: grid;
  gap: 2rem;
}



.service_flyer_link a {
  background-color: var(--color_gold);
  padding: 0.5rem 1rem;
  border-radius: var(--border_radius);
  color: var(--text_color);
  transition: var(--transition);
}

.service_flyer_link a:hover {
  background-color: var(--text_color);
  border-radius: var(--border_radius);
  color: var(--default_bg);
  box-shadow: var(--box_shadow);
}

/* --------------------------------- Popular Services Styles ----------------------------------------------- */
.popular_services {
  padding: 0 10rem;
  display: grid;
  gap: 0.5rem;
  margin-top: 2rem;
}

.popular_services_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.popular_service_card {
  border: 1px solid var(--default_border);
  border-radius: var(--border_radius);
  padding: 0.5rem;
  transition: var(--transition);
  display: grid;
  gap: 2rem;
  background-color: var(--color_dark_light);
  height: 20rem;
}

.popular_service_card:hover {
  box-shadow: var(--box_shadow);
  transform: scale(0.98);
  background-color: var(--color_dark_medium);
}

.popular_service_card_image {
  height: 15rem;
  width: 100%;
  border-radius: var(--border_radius);
}

.popular_service_card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border_radius);
  overflow: hidden;
}

/* --------------------------------- Popular Services Styles ----------------------------------------------- */
.pro_ad_section {
  padding: 2rem 10rem;
  display: grid;
  gap: 2rem;
}

.pro_ad_section_title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--default_border);
  padding-bottom: .5rem;
}

.pro_ad_section_title a {
  background-color: var(--text_color);
  color: var(--default_bg_deep);
  padding: .5rem 1rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.pro_ad_section_title a:hover {
  background-color: var(--default_bg_deep);
  color: var(--text_color);
  box-shadow: var(--box_shadow_dark);
}

.pro_ad_section_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.pro_ad_section_card {
  display: grid;
  gap: .5rem;
}

.pro_ad_section_card_icon i {
  font-size: 3rem;
}

/* --------------------------------- Banner Section Styles ----------------------------------------------- */
.banner_section {
  margin: 2rem 10rem;
  display: grid;
  gap: 2rem;
  background-color: var(--color_dark_medium);
  border-radius: var(--border_radius);
  padding: 2rem;
}

.banner_section_contents {
  display: flex;
  gap: 5rem;
}

.banner_left {
  display: grid;
  gap: 1.5rem;
}

.banner_right {
  width: 15rem;
  border-radius: var(--border_radius)
}
.banner_right img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

.banner_left ul {
  display: grid;
  gap: .5rem;
  list-style: disc;
}

.banner_left ul li {
  list-style: disc;
  list-style-position: inside;
}

.banner_link a {
  background-color: var(--text_color);
  color: var(--default_bg);
  padding: .3rem .5rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.banner_link a:hover {
  background-color: var(--default_bg);
  color: var(--text_color);
  box-shadow: var(--box_shadow_dark);
}

/* --------------------------------- Footer Page Styles ----------------------------------------------- */
footer {
  background-color: var(--default_bg_variant);
  padding: 0 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 2.5rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(20px);
  transition: var(--transition);
}

center p {
  font-size: 0.8rem;
  padding-top: 0.9rem;
}


.all_services_container {
  margin: 2rem 10rem;
  display: grid;
  gap: 2rem;
}

.all_services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.service_images {
  height: 10rem;
  width: 100%;
  border-radius: var(--border_radius);
  overflow: hidden;
}

.service_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border_radius);
  overflow: hidden;
}

.service {
  display: grid;
  gap: .5rem;
}

.service_owner {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.service_owner:hover {
  transform: translateX(.2rem);
}

.service_owner_image {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.service_owner_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_desc:hover {
  text-decoration: underline;
}











  .swiper {
  width: 4rem;
  height: 4rem; 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%; 
  object-fit: contain; /* don't crop */
}
