@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: 0;
  align-items: center;
  text-decoration: none;
  line-height: 1;
  align-items: center;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  scroll-padding-bottom: 2rem;
  overflow-x: hidden;
  color: var(--text_color);

  ::-webkit-scrollbar {
    width: 1.5px;
  }
}

:root {
  --default_bg: #fbfafa;
  --default_bg_deep: #f2f0f0;
  --default_bg_variant: rgba(87, 87, 87, 0.2);
  --default_border: rgba(161, 156, 156, 0.2);
  --text_color_deep: #0d0d0d;
  --text_color: #222121;
  --text_color_variant: rgb(90, 89, 89);
  --color_dark_light: #f2f2f2;
  --color_gold: #f8c641;
  --color_dark_medium: #e6e6e6;
  --color_danger: #f03333;
  --box_shadow: 0 0.5rem 0.5rem rgba(224, 222, 222, 0.4);
  --box_shadow_dark: 0.5rem 0.5rem 0.5rem rgba(161, 156, 156, 0.2);
  --transition: all 300ms ease;
  --border_radius: 0.3rem;
}

h1 {
  font-size: 1.9rem;
  font-weight: 900;
}

h2 {
  font-size: 1.6rem;
  font-weight: 850;
}

h3 {
  font-size: 1.3rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 800;
}

p {
  font-size: 1rem;
  font-weight: 550;
}

a {
  font-weight: 600;
  display: inline-block;
}

body {
  background-color: var(--default_bg);
}

span {
  color: var(--color_danger);
}

/* --------------------------------- Nav Section Styles ----------------------------------------------- */
nav {
  background-color: var(--default_bg_variant);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  margin: 0;
  padding: 0.3rem 10rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(20px);
  transition: var(--transition);
  overflow: visible;
  border-bottom: 1px solid var(--default_border);
}

nav:hover {
  box-shadow: var(--box_shadow);
}

.nav_logo a {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

.nav_logo a:hover {
  transition: var(--transition);
  transform: scale(0.9);
}

.nav_logo a img {
  width: 100%;
  height: 100%;
}

.nav_search form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--default_bg);
  padding: 0.3rem 0.5rem;
  width: 25rem;
  border-radius: var(--border_radius);
}

.nav_search form input {
  width: 100%;
  border: none;
  background-color: var(--default_bg);
}

.nav_search form button {
  border: none;
}

.nav_search form button i {
  color: var(--default_bg);
  padding: 0.3rem 0.3rem;
  background-color: var(--text_color);
  border-radius: var(--border_radius);
  margin-right: 0.15rem;
}

.nav_search form button i:hover {
  background-color: var(--color_gold);
  transition: var(--transition);
  color: var(--text_color);
  font-weight: 700;
}

.nav_search:focus-within {
  border: 1px solid var(--text_color);
  box-shadow: 0 0 0.5rem rgba(24, 23, 23, 0.5);
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.nav_menu ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav_menu ul li:hover {
  color: var(--color_danger);
  transform: translateX(0.2rem);
  transition: var(--transition);
}

.join a {
  display: inline-block;
  padding: 0.15rem 1rem;
  border-radius: var(--border_radius);
  border: 0.5px solid var(--text_color);
  font-weight: 900;
  transition: var(--transition);
}

.join a:hover {
  background-color: var(--text_color);
  color: var(--default_bg);
}

.nav_menu_button {
  display: none;
}

/* --------------------------------- Main Section Styles ----------------------------------------------- */
main {
  margin-top: 2.8rem;
  padding-bottom: 5rem;
}

/* --------------------------------- Main Hero Section Styles ----------------------------------------------- */
.hero_section {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.hero_video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.hero_content {
  position: relative;
  top: 30%;
  padding: 0rem 10rem;
  display: grid;
}

.hero_content_title h1 {
  color: var(--default_bg);
}

.hero_search {
  margin-top: 1.5rem;
}

.hero_search form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--default_bg);
  padding: 0.3rem 0.5rem;
  width: 50vw;
  border-radius: var(--border_radius);
}

.hero_search form input {
  width: 100%;
  border: none;
  background-color: var(--default_bg);
}

.hero_search form button {
  border: none;
}

.hero_search form button i {
  color: var(--default_bg);
  padding: 0.3rem 0.3rem;
  background-color: var(--text_color);
  border-radius: var(--border_radius);
  margin-right: 0.15rem;
}

.hero_search form button i:hover {
  background-color: var(--color_gold);
  transition: var(--transition);
  color: var(--text_color);
  font-weight: 700;
}

.hero_search:focus-within {
  border: 1px solid var(--text_color);
  box-shadow: 0 0 0.8rem rgba(232, 230, 230, 0.2);
  border-radius: var(--border_radius);
  transition: var(--transition);
  width: 50vw;
}

.sponsors {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sponsor {
  width: 2rem;
  height: 2rem;
}

.sponsor img {
  width: 100%;
  height: 100%;
}

.sponsors p {
  color: var(--default_bg);
}
.sponsor_list {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

/* --------------------------------- Service Cards Section Styles ----------------------------------------------- */
.service_cards {
  padding: 2rem 10rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.service_card {
  border: 1px solid var(--default_border);
  border-radius: var(--border_radius);
  padding: 0.5rem;
  transition: var(--transition);
  height: 6rem;
  display: grid;
  gap: 0.5rem;
}

.service_cards a {
  transition: var(--transition);
  box-shadow: var(--box_shadow_dark);
  background-color: var(--color_dark_light);
}
.service_cards a:hover {
  box-shadow: var(--box_shadow);
  transform: scale(0.98);
  background-color: var(--color_dark_medium);
}

.service_card_icon {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

.service_card_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------------  Services Flyer Styles ----------------------------------------------- */
.services_flyer center {
  margin: 1rem 10rem;
  background-color: var(--color_dark_medium);
  color: var(--default_bg);
  padding: 3rem;
  border-radius: var(--border_radius);
  display: grid;
  gap: 2rem;
}

.service_flyer_link a {
  background-color: var(--color_gold);
  padding: 0.5rem 1rem;
  border-radius: var(--border_radius);
  color: var(--text_color);
  transition: var(--transition);
}

.service_flyer_link a:hover {
  background-color: var(--text_color);
  border-radius: var(--border_radius);
  color: var(--default_bg);
  box-shadow: var(--box_shadow);
}

/* --------------------------------- Popular Services Styles ----------------------------------------------- */
.popular_services {
  padding: 0 10rem;
  display: grid;
  gap: 0.5rem;
  margin-top: 2rem;
}

.popular_services_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.popular_service_card {
  border: 1px solid var(--default_border);
  border-radius: var(--border_radius);
  padding: 0.5rem;
  transition: var(--transition);
  display: grid;
  gap: 2rem;
  background-color: var(--color_dark_light);
  height: 20rem;
}

.popular_service_card:hover {
  box-shadow: var(--box_shadow);
  transform: scale(0.98);
  background-color: var(--color_dark_medium);
}

.popular_service_card_image {
  height: 15rem;
  width: 100%;
  border-radius: var(--border_radius);
  overflow: hidden;
}

.popular_service_card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border_radius);
  overflow: hidden;
}

/* --------------------------------- Popular Services Styles ----------------------------------------------- */
.pro_ad_section {
  padding: 2rem 10rem;
  display: grid;
  gap: 2rem;
}

.pro_ad_section_title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--default_border);
  padding-bottom: 0.5rem;
}

.pro_ad_section_title a {
  background-color: var(--text_color);
  color: var(--default_bg_deep);
  padding: 0.5rem 1rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.pro_ad_section_title a:hover {
  background-color: var(--default_bg_deep);
  color: var(--text_color);
  box-shadow: var(--box_shadow_dark);
}

.pro_ad_section_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.pro_ad_section_card {
  display: grid;
  gap: 0.5rem;
}

.pro_ad_section_card_icon i {
  font-size: 3rem;
}

/* --------------------------------- Banner Section Styles ----------------------------------------------- */
.banner_section {
  margin: 2rem 10rem;
  display: grid;
  gap: 2rem;
  background-color: var(--color_dark_medium);
  border-radius: var(--border_radius);
  padding: 2rem;
}

.banner_section_contents {
  display: flex;
  gap: 5rem;
}

.banner_left {
  display: grid;
  gap: 1.5rem;
}

.banner_right {
  width: 15rem;
  border-radius: var(--border_radius);
}
.banner_right img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

.banner_left ul {
  display: grid;
  gap: 0.5rem;
  list-style: disc;
}

.banner_left ul li {
  list-style: disc;
  list-style-position: inside;
}

.banner_link a {
  background-color: var(--text_color);
  color: var(--default_bg);
  padding: 0.3rem 0.5rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.banner_link a:hover {
  background-color: var(--default_bg);
  color: var(--text_color);
  box-shadow: var(--box_shadow_dark);
}

/* --------------------------------- Footer Page Styles ----------------------------------------------- */
footer {
  background-color: var(--default_bg_variant);
  padding: 0 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 2.5rem;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(20px);
  transition: var(--transition);
}

center p {
  font-size: 0.8rem;
  padding-top: 0.9rem;
}

/* --------------------------------- All Services Page Styles ----------------------------------------------- */
.all_services_container {
  margin: 2rem 10rem;
  display: grid;
  gap: 2rem;
}

.all_services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.service_images {
  height: 10rem;
  width: 100%;
  border-radius: var(--border_radius);
  overflow: hidden;
}

.service_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border_radius);
  overflow: hidden;
}

.service {
  display: grid;
  gap: 0.5rem;
}

.service_owner {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.service_owner:hover {
  transform: translateX(0.2rem);
}

.service_owner_image {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.service_owner_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_desc:hover {
  text-decoration: underline;
}

/* ---------------------------------  Service Details Page Styles ----------------------------------------------- */
.service_details_container {
  margin: 2rem 10rem;
  display: grid;
  gap: 2rem;
}

.service_details {
  display: grid;
  gap: 1rem;
}

.service_details_about {
  display: grid;
  gap: 1rem;
}

.service_details_images {
  height: 30rem;
  width: 35rem;
  border-radius: var(--border_radius);
  overflow: hidden;
}

.service_details_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border_radius);
  overflow: hidden;
}

.service_details_text {
  display: grid;
  gap: 0.5rem;
}

.service_owner_skillset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.skillset {
  background-color: var(--color_dark_light);
  padding: 0.5rem;
  border-radius: var(--border_radius);
  display: grid;
  gap: 0.5rem;
  height: 6rem;
  border: 1px solid var(--default_border);
}

.skillset h4 {
  text-decoration: underline;
}

.contact_service_owner {
  display: grid;
  margin-top: 1rem;
}

.contact_service_owner {
  display: grid;
  gap: 1rem;
}

.service_owner_details {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.service_owner_about p {
  width: 25rem;
}

.contact_service_owner_btn a {
  background-color: var(--text_color_variant);
  color: var(--default_bg);
  padding: 0.3rem 0.5rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.contact_service_owner_btn a:hover {
  background-color: var(--color_dark_medium);
  color: var(--text_color);
  box-shadow: var(--box_shadow_dark);
}

.more_about_service {
  display: grid;
  gap: 1rem;
  border: 1px solid var(--default_border);
  width: 50%;
  padding: 0.5rem;
}

.bio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  border-bottom: 1px solid var(--default_border);
  padding-bottom: 0.5rem;
}
.service_packages {
  display: grid;
  gap: 1rem;
}

.service_packages_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.service_package {
  display: grid;
  gap: 0.5rem;
  border: 1px solid var(--default_border);
  padding: 0.5rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
  background-color: var(--color_dark_light);
}

.service_package:hover {
  box-shadow: var(--box_shadow_dark);
  background-color: var(--color_dark_medium);
}

.service_package_btn a {
  background-color: var(--text_color_variant);
  color: var(--default_bg);
  padding: 0.3rem 0.5rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
  margin-top: 1rem;
}

.service_package_btn a:hover {
  background-color: var(--color_dark_medium);
  color: var(--text_color);
  box-shadow: var(--box_shadow_dark);
}

.service_package_title h4 {
  text-decoration: underline;
}

.faq_section {
  max-width: 100%;
  display: grid;
  gap: 1rem;
}

.faq_item {
  border-bottom: 1px solid var(--default_border);
  padding: 0.5rem 0;
}

.faq_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq_icon {
  font-size: 1rem;
}

.faq_answer {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
  color: var(--text_color_variant);
  margin: 1rem 0;
}

.faq_item.active .faq_answer {
  max-height: 200px;
}

.faq_item.active .faq_icon i {
  transform: rotate(45deg);
  color: var(--color_danger);
}

/* --------------------------------- Forms Styles ----------------------------------------------- */
.form_section {
  display: grid;
  gap: 2rem;
  margin: 4rem 20rem;
  border: 1px solid var(--default_border);
  padding: 3rem;
  border-radius: var(--border_radius);
  background-color: var(--color_dark_medium);
  transition: var(--transition);
}

.form_section:hover {
  box-shadow: var(--box_shadow_dark);
}

.form_section_note {
  display: grid;
  gap: 0.5rem;
}

form {
  gap: 1rem;
}

.form_section input[type="text"],
.form_section input[type="password"],
.form_section input[type="email"],
.form_section input[type="date"],
.form_section input[type="number"],
.form_section textarea,
.form_section select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--default_border);
  background-color: var(--color_dark_light);
  border-radius: var(--border_radius);
  box-sizing: border-box;
  transition: var(--transition);
  font-weight: 550;
  font-size: 1rem;
}

.form_section textarea {
  resize: none;
  height: 10rem;
}

.form_section input:focus,
.form_section textarea:focus,
.form_section select:focus {
  border-color: var(--text_color); /* focus color */
  box-shadow: 0 0 5px rgba(16, 16, 16, 0.3);
  outline: none;
}

.form_section button {
  background-color: var(--text_color_variant);
  color: var(--default_bg);
  padding: 0.5rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
  font-size: 1rem;
  font-weight: 650;
  cursor: pointer;
  margin-top: 1rem;
}

.form_section button:hover {
  color: var(--color_dark_medium);
  background-color: var(--text_color);
  box-shadow: var(--box_shadow_dark);
}

.show_password {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.show_password label {
  font-size: 0.8rem;
}

/* --------------------------------- App_users/profile Styles ----------------------------------------------- */
.profile_section {
  display: grid;
  margin: 2rem 10rem;
  gap: 2rem;
}

.profile_section_primary_info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.primary_info_image {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: var(--box_shadow_dark);
}

.primary_info_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.primary_info_details {
  display: grid;
  gap: 0.5rem;
}

.location_and_language {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.location,
.language {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.location i,
.language i {
  font-size: 0.8rem;
  color: var(--text_color);
}

.primary_info_bio {
  display: grid;
  gap: 1rem;
  max-width: 70%;
  border: 1px solid var(--default_border);
  padding: 0.5rem;
  border-radius: var(--border_radius);
}

.primary_info_skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.info_skill {
  padding: 0.5rem;
  border: 1px solid var(--default_border);
  border-radius: var(--border_radius);
  text-align: center;
  transition: var(--transition);
  cursor: pointer;
}

.info_skill:hover {
  box-shadow: var(--box_shadow_dark);
  background-color: var(--color_dark_medium);
}

.portfolio_section {
  display: grid;
  gap: 1rem;
  background-color: var(--color_dark_medium);
  padding: 2rem 1rem;
  border-radius: var(--border_radius);
}

.portfolio_item {
  border: 1px solid var(--default_border);
  padding: 1rem;
  border-radius: var(--border_radius);
  background-color: var(--color_dark_light);
  display: grid;
  gap: 1rem;
}

.portfolio_list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.portfolio_item_content {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 0.5rem;
}

.portfolio_item:hover {
  box-shadow: var(--box_shadow_dark);
}

.portfolio_image {
  height: 6rem;
  max-width: 100%;
  overflow: hidden;
  border-radius: var(--border_radius);
}

.portfolio_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio_desc {
  display: grid;
  gap: 0.5rem;
}

.more_details_link a {
  background-color: var(--default_bg_variant);
  padding: 0.5rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.more_details_link a:hover {
  background-color: var(--default_bg);
  box-shadow: var(--box_shadow_dark);
}

/* --------------------------------- services/more_services Styles ----------------------------------------------- */
.more_services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.more_services_service {
  display: grid;
  gap: 0.5rem;
  transition: var(--transition);
}

.more_services_service:hover {
  box-shadow: var(--box_shadow_dark);
}

/* --------------------------------- Floating Container Styles ----------------------------------------------- */
.floating_container {
  height: 70vh;
  width: 50vw;
  background-color: var(--color_dark_medium);
  border-radius: var(--border_radius);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow: hidden;
  box-shadow: var(--box_shadow);
}

.auth_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start; /* aligns items to the top of each row */
  align-content: start;
}

.auth_container_left {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.auth_container_left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.general_auth_section {
  display: grid;
  padding: 3rem 1rem;
  gap: 6rem;
}

.general_section {
  display: grid;
  gap: 1.5rem;
}

.social_auth {
  display: grid;
  gap: 0.5rem;
}

.signup_link p a {
  display: inline; /* ensure it's inline */
  line-height: 1; /* match the parent */
  vertical-align: baseline; /* align with surrounding text */
  color: inherit; /* match text color */
  text-decoration: underline;
}

.auth_link a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  border: 1px solid var(--default_border);
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.auth_link a:hover {
  box-shadow: var(--box_shadow_dark);
  background-color: var(--color_dark_light);
}
.auth_link a i {
  font-size: 0.9rem;
}

.auth_tnc p {
  font-size: 0.8rem;
  line-height: 1; /* ensures the text and links are aligned vertically */
  margin: 0;
}

.auth_tnc p a {
  display: inline;
  vertical-align: baseline;
  color: inherit;
  text-decoration: underline;
}

/* --------------------------------- Floating Form Field Styles ----------------------------------------------- */
.account_auth {
  display: none;
}
.account_auth form {
  display: grid;
  gap: 0.5rem;
}

.form_field input[type="text"],
.form_field input[type="password"],
.form_field input[type="email"],
.form_field textarea,
.form_field select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--default_border);
  background-color: var(--color_dark_light);
  border-radius: var(--border_radius);
  box-sizing: border-box;
  transition: var(--transition);
  font-weight: 550;
}

.form_field textarea {
  resize: none;
  height: 10rem;
}

.form_field input:focus,
.form_field textarea:focus,
.form_field select:focus {
  border-color: var(--text_color); /* focus color */
  box-shadow: 0 0 5px rgba(16, 16, 16, 0.3);
  outline: none;
}

.form_field button {
  background-color: var(--text_color_variant);
  color: var(--default_bg);
  padding: 0.5rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
  font-size: 0.9rem;
  font-weight: 650;
  cursor: pointer;
}

.form_field button:hover {
  color: var(--color_dark_medium);
  background-color: var(--text_color);
  box-shadow: var(--box_shadow_dark);
}

.floating_container {
  display: none;
}

.form_section form p a {
  display: inline;
  vertical-align: baseline;
  color: inherit;
  text-decoration: underline;
}

.form_button a {
  background-color: var(--color_gold);
  padding: 0.5rem;
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.form_button a:hover {
  background-color: var(--text_color_variant);
  color: var(--default_bg);
}

/* --------------------------------- Dashboard Styles ----------------------------------------------- */
.dashboard {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
  position: fixed;
  left: 10rem;
  width: calc(100% - 20rem); /* 👈 replaces margin */
}

.dashboard_panel {
  padding: .5rem;
  border-right: 1px solid var(--default_border);
  background-color: var(--default_bg_variant);
}



.dashboard_panel,
.dashboard_content {
  position: relative; /* or just remove position entirely */
  height: 100%;
}

.panel_profile {
  display: flex;
  gap: .5rem;
  border-bottom: 1px solid var(--default_border);
  padding-bottom: .5rem;
}

.panel_image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.panel_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.panel_details {
  display: grid;
  gap: 0.5rem;
}

.panel_links {
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
}

.panel_link a {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: var(--transition);
}

.panel_link a:hover {
  transform: translateX(.5rem);
}


.panel_link.active a {
  font-weight: 600;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: .5rem 2rem;
  background-color: var(--color_gold);
  border-radius: var(--border_radius);
  transition: var(--transition);
}

.panel_link.active a:hover {
  background-color: var(--text_color_variant);
  color: var(--default_bg);
  box-shadow: var(--box_shadow_dark);
}

.dashboard_content {
  padding: .5rem;
  background-color: var(--color_dark_light);
  overflow: scroll;

}

.dashboard_title {
  margin: 1rem 0;
}

.edit_bio_link a {
  gap: 1rem;
  transition: var(--transition);
  margin-bottom: 1.5rem;
  background-color: var(--color_gold);
  padding: .3rem .5rem;
  border-radius: var(--border_radius);
  gap: 1rem;
  display: flex;
  align-items: center;
  width: fit-content;
}

.edit_bio_link a:hover {
  transform: translateX(.5rem);
}

.background_image {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: var(--border_radius);
  margin-bottom: 1.5rem;
}

.background_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dashboard_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.dashboard_card {
  border: 1px solid var(--default_border);
  padding: .5rem;
  border-radius: var(--border_radius);
  background-color: var(--color_dark_medium);
  display: grid;
  gap: 2rem;
  height: 7rem;
  transition: var(--transition);
}

.dashboard_card:hover {
  box-shadow: var(--box_shadow_dark);
  background-color: var(--color_dark_light);
}

.dashboard_about {
  display: grid;
  gap: 1rem;
  border: 1px solid var(--default_border);
  padding: .5rem;
  border-radius: var(--border_radius);
  background-color: var(--color_dark_medium);
  transition: var(--transition);
  margin-bottom: 10rem;
}