{% load static %}

<!doctype html>
<html lang="en">

<!-- ----------------------------------Meta Section------------------------------------->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estoket</title>


<!-- ----------------------------------Links Section------------------------------------->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/main.js' %}" defer></script>
  </head>

<!-- ----------------------------------Nav Section------------------------------------->
  <body>
    <nav>
      <h1>nav section</h1>
    </nav>

<!-- ----------------------------------Main Section------------------------------------->
    <main>
        {% block content %} 
                
        {% endblock content %}</main>
    </main>


<!-- ----------------------------------Footer Section------------------------------------->
    <footer>
      <h1>footer</h1>
    </footer>
  </body>
</html>
