{% extends "z_partials_users/layout.html" %} {% load static %} {%block content%}

<div class="profile_section">
  <div class="profile_section_primary_info">
    <div class="primary_info_image">
      <img src="{% static 'images/logo.png' %}" alt="Profile Picture" />
    </div>

    <div class="primary_info_details">
      <h3>John Doe</h3>
      <p>Software Developer</p>

      <div class="location_and_language">
        <div class="location">
          <i class="fa-solid fa-map-pin"></i>
          <p>Accra, Ghana</p>
        </div>

        <div class="language">
          <i class="fa-regular fa-comment"></i>
          <p>English, French</p>
        </div>
      </div>
    </div>
  </div>

  <div class="primary_info_bio">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat tempore
      quos necessitatibus esse suscipit laboriosam, voluptas omnis deserunt
      placeat, mollitia facilis doloremque! Ullam laudantium, consectetur quia
      ut aliquid officia numquam eveniet voluptate, quod voluptas quam corrupti
      aut illo, magnam quisquam qui. Facilis sapiente cum quasi magni minima
      aliquam sequi ab maiores, pariatur distinctio aut numquam eos qui dolorum
      quis dolor, quaerat aliquid repellat. Exercitationem ad amet possimus quos
      magni ducimus repellat rem perspiciatis sunt autem tenetur deleniti fuga
      quia consequatur delectus, aut, optio maxime accusamus debitis?
      Consequuntur magni reiciendis repellendus nesciunt laudantium, vel enim
      recusandae dolores sint a necessitatibus delectus?
    </p>

    <div class="primary_info_skills">
      <div class="info_skill">
        <p>Python</p>
      </div>

      <div class="info_skill">
        <p>Web Development</p>
      </div>

      <div class="info_skill">
        <p>Web Development</p>
      </div>

      <div class="info_skill">
        <p>Cyber Security</p>
      </div>
    </div>
  </div>

  <div class="portfolio_section">
    <h3>Portfolio</h3>

    <div class="portfolio_list">
      <div class="portfolio_item">
        <div class="portfolio_item_content">
          <div class="portfolio_image">
            <img src="{% static 'images/logo.png' %}" alt="" />
          </div>

          <div class="portfolio_desc">
            <div class="portfolio_title">
              <h4>Portfolio Title</h4>
            </div>

            <div class="portfolio_text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                magni!
              </p>
            </div>
          </div>
        </div>

        <div class="more_details_link">
          <a href="{% url 'public:service' %}">More Details</a>
        </div>
      </div>

           <div class="portfolio_item">
        <div class="portfolio_item_content">
          <div class="portfolio_image">
            <img src="{% static 'images/logo.png' %}" alt="" />
          </div>

          <div class="portfolio_desc">
            <div class="portfolio_title">
              <h4>Portfolio Title</h4>
            </div>

            <div class="portfolio_text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                magni!
              </p>
            </div>
          </div>
        </div>

        <div class="more_details_link">
          <a href="{% url 'public:service' %}">More Details</a>
        </div>
      </div>

           <div class="portfolio_item">
        <div class="portfolio_item_content">
          <div class="portfolio_image">
            <img src="{% static 'images/logo.png' %}" alt="" />
          </div>

          <div class="portfolio_desc">
            <div class="portfolio_title">
              <h4>Portfolio Title</h4>
            </div>

            <div class="portfolio_text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                magni!
              </p>
            </div>
          </div>
        </div>

        <div class="more_details_link">
          <a href="{% url 'public:service' %}">More Details</a>
        </div>
      </div>

           <div class="portfolio_item">
        <div class="portfolio_item_content">
          <div class="portfolio_image">
            <img src="{% static 'images/logo.png' %}" alt="" />
          </div>

          <div class="portfolio_desc">
            <div class="portfolio_title">
              <h4>Portfolio Title</h4>
            </div>

            <div class="portfolio_text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                magni!
              </p>
            </div>
          </div>
        </div>

        <div class="more_details_link">
          <a href="{% url 'public:service' %}">More Details</a>
        </div>
      </div>

           <div class="portfolio_item">
        <div class="portfolio_item_content">
          <div class="portfolio_image">
            <img src="{% static 'images/logo.png' %}" alt="" />
          </div>

          <div class="portfolio_desc">
            <div class="portfolio_title">
              <h4>Portfolio Title</h4>
            </div>

            <div class="portfolio_text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                magni!
              </p>
            </div>
          </div>
        </div>

        <div class="more_details_link">
          <a href="{% url 'public:service' %}">More Details</a>
        </div>
      </div>

           <div class="portfolio_item">
        <div class="portfolio_item_content">
          <div class="portfolio_image">
            <img src="{% static 'images/logo.png' %}" alt="" />
          </div>

          <div class="portfolio_desc">
            <div class="portfolio_title">
              <h4>Portfolio Title</h4>
            </div>

            <div class="portfolio_text">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                magni!
              </p>
            </div>
          </div>
        </div>

        <div class="more_details_link">
          <a href="{% url 'public:service' %}">More Details</a>
        </div>
      </div>

    </div>

    <div class="more_porfolio_link">
      <a href="{% url 'public:more_services' %}">Explore More!</a>
    </div>
  </div>
</div>

{% endblock content %}
