{% extends "z_partials_users/layout.html" %} {% load static %} {%block content%}
{% include "z_partials/auth_container.html" %}

<div class="form_section">
  <div class="form_section_note">
    <h1>Complete Sign Up Process</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iure
      quos enim quam deserunt eum quis tempore accusantium fugiat doloremque!
    </p>
  </div>

  <form action="" method="POST">
    {% csrf_token %} {{ signup_form.as_p }}
    <!--
      <div class="show_password">
      <input type="checkbox" id="showPassword" />
      <label for="showPassword">Show Password</label>
    </div>
-->

<div class="form_button">
    <a href="{% url 'app_users:register_company' %}">Continue Registration</a>
</div>

       <!--
    <p>
      Already have an account?
      <a href="javascript:void(0)" onclick="toggleAuth()">Sign In</a>
    </p>
  -->
  </form>
<!--
    <p>or</p>

  <div class="social_auth">
    <div class="auth_link">
      <a href="">
        <i class="fa-brands fa-google"></i>
        <p>Sign in with Google</p>
      </a>
    </div>
  </div>

  -->

</div>

{% endblock content %}
